<p id="notice"><%= notice %></p>

<p>
  <strong>Answer1:</strong>
  <%= @afternoon_form.answer1 %>
</p>

<p>
  <strong>Answer2:</strong>
  <%= @afternoon_form.answer2 %>
</p>

<%= link_to 'Edit', edit_afternoon_form_path(@afternoon_form) %> |
<%= link_to 'Back', afternoon_forms_path %>
